*~
.DS_Store
.htaccess
error_log
package-lock.json
portal/template_output
auditprotocol/data
policymachine/customerdocuments
*.zip
*.docx
*.tar
/config.php
.config.php
/index.php
portal/config.php
auditprotocol/config.php
.idea
itam-shared/api/phpsocket.io
.scannerwork