body {
	color: #fff;
    background-color: #FFFFFF !important;
}
#wrap {
	width: 530px;
	margin: 0 auto;
}
#header {
	padding: 5px 0;
    margin: 15px 0 5px 0;
    background: none;
}
#content {
	padding: 0px;
}
#main {
	width: 500px;
	background-color: #0085CC;
    border: 3px solid #EFEFEF;
    float: left;
    width: calc(100% - 30px);
    padding: 12px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 40%), 0 0 1px rgb(0 0 0 / 30%) inset;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}
.post {
	width: 460px!important;
	padding-top: 0px;
    position: relative;
    margin: 0px 0px 15px 0px;
    padding: 0px 20px;
    background-color: #ffffff;
    color: #000000 !important;
}
.h-margin-0 {
	margin: 0px;
}
.header-h {
	color: #ef1829;
    font-family: "globersemibold", "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size: 170%;
    font-weight: 400;
    padding-top: 5px;
}
.custom-ul {
	list-style: none;
}
.custom-li {
	padding: 4px 10px 11px 9px;
}
#dropdownlist {
	height: 30px;
    width: 100%;
}
.custom-btn {
	border-radius: 2px;	
    padding: 5px 10px 5px 7px;
    line-height: 17px;
    background: #33BF8C!important;
    -webkit-box-shadow: 0px 3px 5px rgba(51, 191, 140, 0.3)!important;
    -moz-box-shadow: 0px 3px 5px rgba(51, 191, 140, 0.3)!important;
    box-shadow: 0px 3px 5px rgba(51, 191, 140, 0.3)!important;
    border: none!important;
    color: #fff!important;
    text-decoration: none;
    cursor: pointer;
}
.custom-bn:hover {
	background: #159466!important;
    -webkit-box-shadow: 0px 3px 5px rgba(21, 148, 102, 0.3)!important;
    -moz-box-shadow: 0px 3px 5px rgba(21, 148, 102, 0.3)!important;
    box-shadow: 0px 3px 5px rgba(21, 148, 102, 0.3)!important;
}
#bottom_shadow {
	width: 530px;
	height: 6px;
    float: left;
}
.copyright {
	color: #0085CC;
	float: left;
    margin: 0;
}